.vote-container {
    display: flex;
    gap: 50px
}

.vote-options {
    /* border: 1px solid green; */
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 14px gray;
    border-radius: 10px;
}

section h2 {
    font-size: 2rem;
}

.vote-button {
    background-color: var(--primary);
}